# macOS / Windows
.DS_Store
__MACOSX/
Thumbs.db

# Exclude coverage reports
ParkingApi.Tests/coveragereport/

# Exclude build output folders
/ParkingApi.Tests/bin/
/ParkingApi.Tests/obj/

ParkingApi.Tests/[Bb]in/
ParkingApi.Tests/[Oo]bj/
ParkingApi.Tests/[Tt]est[Rr]esults/

# IDE / Editor
.vscode/
.idea/

# Virtual environments
.venv/
venv/
.env/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*/__pycache__/
*/.pytest_cache/

# Logs & temp
*.log
*.tmp
*.swp
*.bak

# === Project-specifiek ===

# Negeer ALLE data onder V1/api/data (alle subfolders)
V1/api/data/**
V1/api/Process/** 
V2/Data_json/** 

# SQLite databases
*.db
*.db-shm
*.db-wal
**/bin/
*.user
*.suo
 
v2/obj/
v2/bin/
v2/.idea